<div class="container">
  <app-header></app-header>
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">TODO</div>
     <div
          id="todo"
          cdkDropList
          #pendingList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList, reviewList]"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        > 
          <div class="item-box" *ngFor="let item of todo" cdkDrag>
            {{ item.text }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">REVIEW</div>
        <div
          id="review"
          cdkDropList
          #reviewList="cdkDropList"
          [cdkDropListData]="review"
          [cdkDropListConnectedTo]="[doneList, pendingList]"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="item-box" *ngFor="let item of review" cdkDrag>
            {{ item.text }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">DONE</div>
        <div
          id="done"
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[pendingList, reviewList]"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="item-box" *ngFor="let item of done" cdkDrag>
            {{ item.text }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
